@charset "UTF-8";


:root{
    --cor1:#007a78;
    --cor2:#015958;
    --cor3:#0FC2C0;
    
}

body{
    
    background-image: linear-gradient(to right,#015958, #0FC2C0);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;

}

main{

    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.438);

}

#titulo{
    text-align: center;
}

.sombra{
    text-shadow: 1px 1px 1px rgba(3, 3, 3, 0.555);
    color: var(--cor1);
}

nav a{
    color:black;
    text-decoration: none;
    padding: 3px;


}

nav a:hover{
    background-color: var(--cor2);
    color: var(--cor3);
    transition-duration: 0.7s;
    border-radius: 5px;
    
}

